@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dream Library - it's....</h1>
    <p class="lead">Here you can....<p>
    @Html.ActionLink("Start Listning", "SongList", "Home");
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some News</h2>
        <p>
           news....
        </p>
        <p><a class="btn btn-default">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Some News</h2>
        <p>
            news....
        </p>
        <p><a class="btn btn-default">Learn more</a></p>
    </div><div class="col-md-4">
    <h2>Some News</h2>
    <p>
        news....
    </p>
    <p><a class="btn btn-default">Learn more</a></p>
</div>
</div>